form {
    display: flex;
    flex-direction: column;
    width: 500px;
}

:valid {
    outline: 2px solid green;
}

:invalid {
    outline: 2px solid red;
    background-color: ivory;
}

div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

label {
    grid-column: 1;
}

input, select {
    grid-column: 2 / 4;
}